---
title: "Data Cleaning with Python"
author: "Jeff Jacobs"
institute: "<a href='mailto:jj1088@georgetown.edu' target='_blank'>`jj1088@georgetown.edu`</a>"
format: html
date: last-modified
categories:
  - "Extra Writeups"
execute:
  keep-ipynb: true
notebook-view:
  - notebook: clean_data.ipynb
    title: "Data Cleaning with Python"
    url: https://colab.research.google.com/github/jpowerj/dsan5000/blob/main/writeups/data-cleaning/clean_data.ipynb?authuser=1
---

::: {.callout-note title="Links"}

* This is the Jupyter notebook I created during the [**Video Walkthrough** <i class='bi bi-box-arrow-up-right ps-1'></i>](../../extra-videos/recording-w05-data-cleaning.html){target="_blank"}
* [**Run on Colab** <i class='bi bi-box-arrow-up-right ps-1'></i>](https://colab.research.google.com/github/jpowerj/dsan5000/blob/main/writeups/data-cleaning/clean_data.ipynb?authuser=1){target="_blank"} to pause the video and edit interactively!

:::

First, since the `.csv` filename is super long, let's just use one of my favorite Python libraries, `glob`, to automatically get a list of all the `.csv` files within the same folder as this notebook

In [11]:
import glob

import pandas as pd
import numpy as np

In [26]:
glob.glob("*.csv")

['SHIP_Emergency_Department_Visits_Related_To_Mental_Health_Conditions_2008-2017.csv',
 'PLACES__Local_Data_for_Better_Health__Place_Data_2022_release.csv',
 'DASH_-_Youth_Risk_Behavior_Surveillance_System__YRBSS___High_School_-_Excluding_Sexual_Identity.csv']

In [28]:
all_data_fnames = glob.glob("*.csv") + glob.glob("*.xlsx")
# for fname in all_data_fnames:
#     print(fname)
for fname_index, fname in enumerate(all_data_fnames):
    print(fname_index, fname)

0 SHIP_Emergency_Department_Visits_Related_To_Mental_Health_Conditions_2008-2017.csv
1 PLACES__Local_Data_for_Better_Health__Place_Data_2022_release.csv
2 DASH_-_Youth_Risk_Behavior_Surveillance_System__YRBSS___High_School_-_Excluding_Sexual_Identity.csv
3 MD_CountyLevelSummary_2017.xlsx

In [29]:
all_data_fnames[0]

'SHIP_Emergency_Department_Visits_Related_To_Mental_Health_Conditions_2008-2017.csv'

SHIP data: https://catalog.data.gov/dataset/ship-emergency-department-visits-related-to-mental-health-conditions-2008-2017

In [33]:
ship_fname = glob.glob("SHIP*.csv")[0]
ship_df = pd.read_csv(ship_fname)
ship_df.head()

,Jurisdiction,Value,Race/ ethnicity,Year,Measure
0,State,4291.5,All races/ ethnicities (aggregated),2017,Mental Health ED visits
1,Allegany,3309.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
2,Anne Arundel,5734.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
3,Baltimore City,10093.5,All races/ ethnicities (aggregated),2017,Mental Health ED visits
4,Baltimore County,4210.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits

In [35]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 4.2 MB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [40]:
places_df = pd.read_excel("MD_CountyLevelSummary_2017.xlsx", skiprows=3)
rename_map = {
    'Unnamed: 0': 'fips',
    'Unnamed: 1': 'county',
    'Unnamed: 2': 'child_pop',
    'Percent': 'pct_lead'
}
places_df.rename(columns=rename_map, inplace=True)

In [44]:
cols_to_keep = list(rename_map.values())
places_df = places_df[cols_to_keep]

In [45]:
places_df

,fips,county,child_pop,pct_lead
0,001,Allegany County,3986.0,0.020888
1,003,Anne Arundel County,42211.0,0.003220
2,005,Baltimore County,59089.0,0.009980
3,009,Calvert County,6099.0,0.006550
4,011,Caroline County,2428.0,0.019973
5,013,Carroll County,10860.0,0.006377
6,015,Cecil County,7085.0,0.006893
7,017,Charles County,11834.0,0.002288
8,019,Dorchester County,2215.0,0.027439
9,021,Frederick County,18017.0,0.003054
10,023,Garrett County,1717.0,NaN
11,025,Harford County,17236.0,0.003109
12,027,Howard County,23609.0,0.008291
13,029,Kent County,973.0,NaN
14,031,Montgomery County,80503.0,0.003826
15,033,Prince George's County,70775.0,0.012376
16,035,Queen Anne's County,3034.0,NaN
17,037,St. Mary's County,8825.0,NaN
18,039,Somerset County,1511.0,0.015837
19,041,Talbot County,2068.0,0.012442
20,043,Washington County,10569.0,0.008881
21,045,Wicomico County,7469.0,0.013187
22,047,Worcester County,2762.0,0.012959
23,510,Baltimore (city) County,46273.0,0.041661
24,NaN,Unknown,NaN,NaN
25,NaN,NaN,NaN,NaN
26,Notes: 'N/A' indicates data are supressed when...,NaN,NaN,NaN
27,Population estimates calculated as population ...,NaN,NaN,NaN
28,Data received and processed by CDC as of April...,NaN,NaN,NaN

In [71]:
places_df = places_df.iloc[0:24].copy()

In [72]:
places_df

   fips            county  child_pop  pct_lead
0   001          Allegany     3986.0  0.020888
1   003      Anne Arundel    42211.0  0.003220
2   005         Baltimore    59089.0  0.009980
3   009           Calvert     6099.0  0.006550
4   011          Caroline     2428.0  0.019973
5   013           Carroll    10860.0  0.006377
6   015             Cecil     7085.0  0.006893
7   017           Charles    11834.0  0.002288
8   019        Dorchester     2215.0  0.027439
9   021         Frederick    18017.0  0.003054
10  023           Garrett     1717.0       NaN
11  025           Harford    17236.0  0.003109
12  027            Howard    23609.0  0.008291
13  029              Kent      973.0       NaN
14  031        Montgomery    80503.0  0.003826
15  033   Prince George's    70775.0  0.012376
16  035      Queen Anne's     3034.0       NaN
17  037        St. Mary's     8825.0       NaN
18  039          Somerset     1511.0  0.015837
19  041            Talbot     2068.0  0.012442
20  043        Washington    10569.0  0.008881
21  045          Wicomico     7469.0  0.013187
22  047         Worcester     2762.0  0.012959
23  510  Baltimore (city)    46273.0  0.041661

In [73]:
places_df['county'] = places_df['county'].str.replace(" County","")

In [74]:
places_df

   fips            county  child_pop  pct_lead
0   001          Allegany     3986.0  0.020888
1   003      Anne Arundel    42211.0  0.003220
2   005         Baltimore    59089.0  0.009980
3   009           Calvert     6099.0  0.006550
4   011          Caroline     2428.0  0.019973
5   013           Carroll    10860.0  0.006377
6   015             Cecil     7085.0  0.006893
7   017           Charles    11834.0  0.002288
8   019        Dorchester     2215.0  0.027439
9   021         Frederick    18017.0  0.003054
10  023           Garrett     1717.0       NaN
11  025           Harford    17236.0  0.003109
12  027            Howard    23609.0  0.008291
13  029              Kent      973.0       NaN
14  031        Montgomery    80503.0  0.003826
15  033   Prince George's    70775.0  0.012376
16  035      Queen Anne's     3034.0       NaN
17  037        St. Mary's     8825.0       NaN
18  039          Somerset     1511.0  0.015837
19  041            Talbot     2068.0  0.012442
20  043        Washington    10569.0  0.008881
21  045          Wicomico     7469.0  0.013187
22  047         Worcester     2762.0  0.012959
23  510  Baltimore (city)    46273.0  0.041661

In [75]:
places_df['county'] = places_df['county'].str.replace('(city)', 'City')

In [76]:
places_df

   fips           county  child_pop  pct_lead
0   001         Allegany     3986.0  0.020888
1   003     Anne Arundel    42211.0  0.003220
2   005        Baltimore    59089.0  0.009980
3   009          Calvert     6099.0  0.006550
4   011         Caroline     2428.0  0.019973
5   013          Carroll    10860.0  0.006377
6   015            Cecil     7085.0  0.006893
7   017          Charles    11834.0  0.002288
8   019       Dorchester     2215.0  0.027439
9   021        Frederick    18017.0  0.003054
10  023          Garrett     1717.0       NaN
11  025          Harford    17236.0  0.003109
12  027           Howard    23609.0  0.008291
13  029             Kent      973.0       NaN
14  031       Montgomery    80503.0  0.003826
15  033  Prince George's    70775.0  0.012376
16  035     Queen Anne's     3034.0       NaN
17  037       St. Mary's     8825.0       NaN
18  039         Somerset     1511.0  0.015837
19  041           Talbot     2068.0  0.012442
20  043       Washington    10569.0  0.008881
21  045         Wicomico     7469.0  0.013187
22  047        Worcester     2762.0  0.012959
23  510   Baltimore City    46273.0  0.041661

In [59]:
ship_df['Year'] == 2017

0        True
1        True
2        True
3        True
4        True
        ...
1245    False
1246    False
1247    False
1248    False
1249    False
Name: Year, Length: 1250, dtype: bool

In [62]:
ship_df = ship_df.loc[ship_df['Year'] == 2017]

In [66]:
ship_df = ship_df[ship_df['Jurisdiction'] != "State"]

In [65]:
ship_df = ship_df[ship_df['Race/ ethnicity'] == "All races/ ethnicities (aggregated)"]
ship_df

,Jurisdiction,Value,Race/ ethnicity,Year,Measure
0,State,4291.5,All races/ ethnicities (aggregated),2017,Mental Health ED visits
1,Allegany,3309.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
2,Anne Arundel,5734.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
3,Baltimore City,10093.5,All races/ ethnicities (aggregated),2017,Mental Health ED visits
4,Baltimore County,4210.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
5,Calvert,2999.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
6,Caroline,7556.2,All races/ ethnicities (aggregated),2017,Mental Health ED visits
7,Carroll,4216.0,All races/ ethnicities (aggregated),2017,Mental Health ED visits
8,Cecil,9584.2,All races/ ethnicities (aggregated),2017,Mental Health ED visits
9,Charles,2817.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
10,Dorchester,11251.8,All races/ ethnicities (aggregated),2017,Mental Health ED visits
11,Frederick,3064.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
12,Garrett,7967.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
13,Harford,3020.2,All races/ ethnicities (aggregated),2017,Mental Health ED visits
14,Howard,3082.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
15,Kent,13662.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
16,Montgomery,2312.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
17,Prince George's,1955.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
18,Queen Anne's,6119.5,All races/ ethnicities (aggregated),2017,Mental Health ED visits
19,Saint Mary's,6173.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
20,Somerset,2696.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
21,Talbot,7661.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
22,Washington,5410.8,All races/ ethnicities (aggregated),2017,Mental Health ED visits
23,Wicomico,2897.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
24,Worcester,3502.8,All races/ ethnicities (aggregated),2017,Mental Health ED visits

In [67]:
ship_df

,Jurisdiction,Value,Race/ ethnicity,Year,Measure
1,Allegany,3309.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
2,Anne Arundel,5734.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
3,Baltimore City,10093.5,All races/ ethnicities (aggregated),2017,Mental Health ED visits
4,Baltimore County,4210.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
5,Calvert,2999.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
6,Caroline,7556.2,All races/ ethnicities (aggregated),2017,Mental Health ED visits
7,Carroll,4216.0,All races/ ethnicities (aggregated),2017,Mental Health ED visits
8,Cecil,9584.2,All races/ ethnicities (aggregated),2017,Mental Health ED visits
9,Charles,2817.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
10,Dorchester,11251.8,All races/ ethnicities (aggregated),2017,Mental Health ED visits
11,Frederick,3064.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
12,Garrett,7967.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
13,Harford,3020.2,All races/ ethnicities (aggregated),2017,Mental Health ED visits
14,Howard,3082.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
15,Kent,13662.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
16,Montgomery,2312.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
17,Prince George's,1955.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
18,Queen Anne's,6119.5,All races/ ethnicities (aggregated),2017,Mental Health ED visits
19,Saint Mary's,6173.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
20,Somerset,2696.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
21,Talbot,7661.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
22,Washington,5410.8,All races/ ethnicities (aggregated),2017,Mental Health ED visits
23,Wicomico,2897.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
24,Worcester,3502.8,All races/ ethnicities (aggregated),2017,Mental Health ED visits

In [79]:
ship_df['Jurisdiction'] = ship_df['Jurisdiction'].str.replace("Baltimore County", "Baltimore")

/var/folders/n2/m7_fj5vx6c50_yj7g23mwmq00000gn/T/ipykernel_76467/211774966.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ship_df['Jurisdiction'] = ship_df['Jurisdiction'].str.replace("Baltimore County", "Baltimore")

In [80]:
ship_df

,Jurisdiction,Value,Race/ ethnicity,Year,Measure
1,Allegany,3309.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
2,Anne Arundel,5734.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
3,Baltimore City,10093.5,All races/ ethnicities (aggregated),2017,Mental Health ED visits
4,Baltimore,4210.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
5,Calvert,2999.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
6,Caroline,7556.2,All races/ ethnicities (aggregated),2017,Mental Health ED visits
7,Carroll,4216.0,All races/ ethnicities (aggregated),2017,Mental Health ED visits
8,Cecil,9584.2,All races/ ethnicities (aggregated),2017,Mental Health ED visits
9,Charles,2817.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
10,Dorchester,11251.8,All races/ ethnicities (aggregated),2017,Mental Health ED visits
11,Frederick,3064.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
12,Garrett,7967.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
13,Harford,3020.2,All races/ ethnicities (aggregated),2017,Mental Health ED visits
14,Howard,3082.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
15,Kent,13662.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
16,Montgomery,2312.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
17,Prince George's,1955.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
18,Queen Anne's,6119.5,All races/ ethnicities (aggregated),2017,Mental Health ED visits
19,Saint Mary's,6173.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
20,Somerset,2696.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
21,Talbot,7661.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
22,Washington,5410.8,All races/ ethnicities (aggregated),2017,Mental Health ED visits
23,Wicomico,2897.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
24,Worcester,3502.8,All races/ ethnicities (aggregated),2017,Mental Health ED visits

In [83]:
ship_df['Jurisdiction'] = ship_df['Jurisdiction'].str.replace("Saint", "St.")

/var/folders/n2/m7_fj5vx6c50_yj7g23mwmq00000gn/T/ipykernel_76467/2748728514.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ship_df['Jurisdiction'] = ship_df['Jurisdiction'].str.replace("Saint", "St.")

In [84]:
ship_df

,Jurisdiction,Value,Race/ ethnicity,Year,Measure
1,Allegany,3309.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
2,Anne Arundel,5734.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
3,Baltimore City,10093.5,All races/ ethnicities (aggregated),2017,Mental Health ED visits
4,Baltimore,4210.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
5,Calvert,2999.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
6,Caroline,7556.2,All races/ ethnicities (aggregated),2017,Mental Health ED visits
7,Carroll,4216.0,All races/ ethnicities (aggregated),2017,Mental Health ED visits
8,Cecil,9584.2,All races/ ethnicities (aggregated),2017,Mental Health ED visits
9,Charles,2817.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
10,Dorchester,11251.8,All races/ ethnicities (aggregated),2017,Mental Health ED visits
11,Frederick,3064.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
12,Garrett,7967.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
13,Harford,3020.2,All races/ ethnicities (aggregated),2017,Mental Health ED visits
14,Howard,3082.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
15,Kent,13662.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
16,Montgomery,2312.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
17,Prince George's,1955.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
18,Queen Anne's,6119.5,All races/ ethnicities (aggregated),2017,Mental Health ED visits
19,St. Mary's,6173.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
20,Somerset,2696.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
21,Talbot,7661.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
22,Washington,5410.8,All races/ ethnicities (aggregated),2017,Mental Health ED visits
23,Wicomico,2897.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
24,Worcester,3502.8,All races/ ethnicities (aggregated),2017,Mental Health ED visits

In [87]:
merged_df = places_df.merge(ship_df, left_on='county', right_on='Jurisdiction', how='left', indicator=False)

In [88]:
merged_df

,fips,county,child_pop,pct_lead,Jurisdiction,Value,Race/ ethnicity,Year,Measure
0,001,Allegany,3986.0,0.020888,Allegany,3309.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
1,003,Anne Arundel,42211.0,0.003220,Anne Arundel,5734.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
2,005,Baltimore,59089.0,0.009980,Baltimore,4210.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
3,009,Calvert,6099.0,0.006550,Calvert,2999.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
4,011,Caroline,2428.0,0.019973,Caroline,7556.2,All races/ ethnicities (aggregated),2017,Mental Health ED visits
5,013,Carroll,10860.0,0.006377,Carroll,4216.0,All races/ ethnicities (aggregated),2017,Mental Health ED visits
6,015,Cecil,7085.0,0.006893,Cecil,9584.2,All races/ ethnicities (aggregated),2017,Mental Health ED visits
7,017,Charles,11834.0,0.002288,Charles,2817.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
8,019,Dorchester,2215.0,0.027439,Dorchester,11251.8,All races/ ethnicities (aggregated),2017,Mental Health ED visits
9,021,Frederick,18017.0,0.003054,Frederick,3064.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
10,023,Garrett,1717.0,NaN,Garrett,7967.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
11,025,Harford,17236.0,0.003109,Harford,3020.2,All races/ ethnicities (aggregated),2017,Mental Health ED visits
12,027,Howard,23609.0,0.008291,Howard,3082.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
13,029,Kent,973.0,NaN,Kent,13662.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
14,031,Montgomery,80503.0,0.003826,Montgomery,2312.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
15,033,Prince George's,70775.0,0.012376,Prince George's,1955.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
16,035,Queen Anne's,3034.0,NaN,Queen Anne's,6119.5,All races/ ethnicities (aggregated),2017,Mental Health ED visits
17,037,St. Mary's,8825.0,NaN,St. Mary's,6173.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
18,039,Somerset,1511.0,0.015837,Somerset,2696.1,All races/ ethnicities (aggregated),2017,Mental Health ED visits
19,041,Talbot,2068.0,0.012442,Talbot,7661.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
20,043,Washington,10569.0,0.008881,Washington,5410.8,All races/ ethnicities (aggregated),2017,Mental Health ED visits
21,045,Wicomico,7469.0,0.013187,Wicomico,2897.6,All races/ ethnicities (aggregated),2017,Mental Health ED visits
22,047,Worcester,2762.0,0.012959,Worcester,3502.8,All races/ ethnicities (aggregated),2017,Mental Health ED visits
23,510,Baltimore City,46273.0,0.041661,Baltimore City,10093.5,All races/ ethnicities (aggregated),2017,Mental Health ED visits

In [89]:
merged_df[['pct_lead','Value']].corr()

          pct_lead    Value
pct_lead   1.00000  0.59498
Value      0.59498  1.00000